* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Inter",sans-serif;
-webkit-font-smoothing: antialiassed;
}

:root {
    --almost-white:#fffdfa;
    --dark-blue:#00001a;
    --gunumtal:#5e607a;
    --vermfdelition:#f15051;
    --silver:#c5c6ce;
    --yellow :#ffff00;
}


body {
    padding:1.75rem 1rem;
    background-color: var(--almost-white);
}

.Header-mobile{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 2rem;
}

.Header-mobile button{
    border: none;
    background: none;
}

.primeira{
    width: 100%;
    margin-bottom: 4rem;
}

.primeira h1 {
    font-size: 2.5rem;
    line-height: 100%;
    color: var(--dark-blue);
    margin-bottom: 1rem;
}

.primeira p {
    font-size: 0.9375rem;
    line-height: 1.625rem;
    color: var(--gunumtal);
    margin-bottom: 1.5rem;
}

.primeira button{
padding: 0.75rem 2rem;
background-color: var(--vermfdelition);
border: none ;
text-transform: uppercase;
color: var(--almost-white);
font-weight: 700;
font-size: 0.875rem;
letter-spacing: 0.27rem;
line-height: 1.5rem;
}

.segunda{
 background-color: var(--dark-blue);
 margin-bottom: 4rem;
}

.segunda h2{
    color: var(--yellow);
    font-size: 2rem;
    line-height: 100%;
}

.bb{
    border-bottom;:1px solid var(--gunumtal)
}

.nb {
    margin-bottom: 1.75rem;
}

.pb {
    margin-bottom: 1.75rem;
}


.segunda h3 {
    color: var(--almost-white);
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight:800 ;
    margin-bottom: 0.5rem;
}

.segunda p {
    color: var(--silver);
    font-size: 0.937rem;
    line-height: 1.625rem;
}
